// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #CB1B16;
$secondary : #1368AA;
$accent    : #F26A4F;
$light     :   #FEDFD4;
$dark      : #033270;
$positive  : #21BA45;
$negative  : #C10015;
$info      : #4091C9;
$warning   : #F2C037;

$dark-secondary: #b9dffa;
$fondo : #9DCEE2;